# Node environment
NODE_ENV=
PORT=

# Database connection
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_NAME=

# Redis connection
REDIS_URL=
AUTH_PROVIDER_URL=http://localhost:3001
AUTH_PROVIDER_APPLICATION_ID='00000000-0000-0000-0000-000000000001'